

<br><br><br>
    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">The event : <%= @event.title %></h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Price : <%= @event.price %><small class="text-muted"> €</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Description : <%= @event.description %></li>
              <li>Start date : <%= @event.start_date %></li>
              <li>Duration : <%= @event.duration %> minutes</li>
              <li>Location : <%= @event.location %></li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Purchase !</button>
          </div>
        </div>
  